* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #f6f6f6; }

.bagbang {
  margin-left: 150px; }

button {
  box-shadow: none !important;
  transition: 0.4s;
  border-radius: 0 !important; }

button:hover {
  background: #000 !important;
  color: white !important; }

header .container-fluid {
  background-image: url("../images/Rectangle 3.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 550px; }

.col-md-7 .nav-link {
  margin-right: 34px;
  color: #6f6f6f;
  transition: 0.4s; }
.col-md-7 .nav-link:hover {
  color: black;
  text-decoration: none; }

.nav-link:nth-child(1) {
  padding-left: 0; }

.col-md-5 .nav-link {
  margin-left: 40px; }

.title {
  margin-top: 163px;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 60px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: #FFFFFF; }

.title1 {
  margin-top: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: #FFFFFF; }

.navbar {
  padding-left: 0; }

.top-col .btn-light {
  padding: 18px 85px;
  margin-top: 62px;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: #000000; }

.card {
  margin-top: 30px; }

.card-body .name {
  font-size: 18px;
  line-height: 21px; }

.card-body .footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between; }

.footer .price {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px; }

.footer .add {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #F6F6F6;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px;
  box-sizing: border-box; }

.card-b, .card-a {
  position: relative;
  height: 450px;
  background-image: url("../images/Group 1215 (1).svg");
  background-size: cover; }

.card-a {
  background-image: url("../images/Rectangle 6.svg"); }

.main-title, .main-title2, .main-title3 {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #000000; }

#secondCarousel .owl-next, #secondCarousel .owl-prev {
  position: absolute !important;
  top: -40px;
  right: 20px; }

.crd2 {
  margin-top: 0; }

#secondCarousel .owl-prev {
  right: 40px; }

.owl-theme .owl-nav [class*='owl-'] span {
  width: 60px;
  height: 60px !important; }

.title2 {
  position: absolute;
  left: 30px;
  bottom: 30px;
  margin-top: 4px; }
  .title2 h1, .title2 h2 {
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    align-items: center;
    text-transform: capitalize; }
  .title2 h2 {
    font-size: 14px;
    line-height: 17px; }
  .title2 button {
    width: 109px;
    left: 0;
    margin-top: 20px;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    text-transform: capitalize;
    color: #000000; }

.title3 {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #000000; }

.twofluid .container-fluid {
  background-image: url("../images/butsa.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 550px; }

.onetitle {
  font-weight: 800;
  font-size: 50px;
  line-height: 65px;
  margin-top: 129px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: #000000; }

.twotitle {
  font-size: 26px;
  line-height: 31px;
  margin-bottom: 70px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: #000000; }

.col-md-4 h4 {
  margin-top: 15px; }

.container-fluid {
  background-image: url("../images/Rectangle 471.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 550px; }

.link {
  display: flex; }

.top-btn .btn-light {
  width: 217px;
  height: 62px;
  margin-right: 20px; }

.inputee {
  height: 60px;
  padding: 20px 25px;
  border-radius: 0;
  outline: none;
  border: 1px solid black; }

.btn-search {
  right: 0;
  height: 60px;
  width: 87px;
  border-radius: 0; }

.ul-li {
  margin: 30px 30px 0 0; }

hr {
  margin-top: 117px;
  margin-bottom: 0 !important; }

.footer-img {
  margin-left: 16px !important; }

.footer-row {
  padding: 30px 0; }

.copy {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: inline;
  letter-spacing: -0.02em;
  opacity: 0.4; }

.li-ul li {
  margin-bottom: 30px; }
.li-ul a {
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: #000000;
  text-decoration: none; }

.puma h3 {
  margin-bottom: 10px; }
.puma p {
  margin-bottom: 29px; }

.united {
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  letter-spacing: -0.02em;
  color: #000000; }

.only-mobile {
  display: none; }

.only-desctop {
  display: block; }

@media (max-width: 576px) {
  .only-desctop {
    display: none; }

  .only-mobile {
    display: block; }

  .title {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    margin-top: 57px; }

  .title1 {
    margin-top: 8px;
    font-size: 12px;
    line-height: 14px; }

  .top-col .btn-light {
    padding: 12px 37px;
    margin-top: 28px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: #000000; }

  header .container-fluid {
    background-image: url("../images/Rectangle 3 (1).svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 227px; }

  .main-title, .main-title2, .main-title3 {
    font-size: 22px;
    line-height: 26px;
    margin-top: 77px;
    margin-bottom: 20px; }

  .tit5 {
    margin-bottom: 30px; }

  .card-b, .card-a {
    height: 268px; }

  .title2 h1 {
    font-size: 18px;
    line-height: 21px; }
  .title2 h2 {
    font-size: 14px;
    line-height: 17px; }
  .title2 button {
    margin-top: 10px; }

  .main-title2, .main-title3 {
    margin-top: 69px; }

  .card-body {
    padding: 0; }

  .footer, .name {
    padding: 20px; }

  .name {
    padding-bottom: 0; }

  .twofluid {
    margin-top: 70px; }

  .onetitle {
    margin: 0 0 8px 0;
    font-size: 20px;
    line-height: 26px; }

  .twotitle {
    margin: 0;
    font-size: 14px;
    line-height: 17px; }

  .twofluid {
    height: 229px; }

  .top-col .btn-light {
    margin-top: 25px;
    padding: 14px 36px;
    font-size: 12px;
    line-height: 14px; }

  .tit15 {
    margin-bottom: 0; }

  .bola {
    height: 230px; }

  .bola {
    background-image: url("../images/Mask Group (1).svg"); }
    .bola .onetitle, .bola .twotitle {
      margin-top: 47px;
      font-size: 20px;
      line-height: 24px;
      color: #FFFFFF; }
    .bola .twotitle {
      margin-top: 10px;
      font-size: 14px;
      line-height: 17px; }
    .bola #button1, .bola #button2 {
      width: unset;
      height: unset;
      margin-top: 30px;
      padding: 13px 28px;
      font-size: 12px;
      line-height: 14px; }

  #button3, #button4 {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    font-size: 22px;
    line-height: 26px;
    font-weight: 600; }

  #button4 {
    margin-bottom: 30px; }

  .line {
    margin: 30px 0 30px 0;
    border: 1px solid #e5e5e5; }

  .tabtab .ul-li {
    margin: 0; }

  .navbar-brand {
    margin-left: 80px; }

  .searchxe {
    margin-left: 15px; }

  .navbar-nav .nav-item .nav-link {
    width: 100%;
    text-align: center; } }

/*# sourceMappingURL=style.css.map */
